{erl_opts, [debug_info]}.

{deps, [
    {node_name_helper, ".*",
        {git, "https://github.com/ziyouchutuwenwu/node_name_helper", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"}
    % {apps, [mem_mnesia]}
]}.

{pre_hooks, [
    {clean, "rm -rf ./_build/test"}
]}.
{provider_hooks, [{pre, [{clean}]}]}.

{cover_enabled, true}.
{eunit_opts, [
    verbose,
    {
        report,
        {
            eunit_surefire, [
                {dir, "./_build/test"}
            ]
        }
    }
]}.
